li {
    display  : inline;
    margin   : 20px;
    color    : gray;
    font-size: 70%;
}

ul {
    text-align: center;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        overflow          : hidden;
        width             : 400px;
        -webkit-appearance: none;
        background-color  : gray;
    }


    input[type='range']::-webkit-slider-thumb {
        width             : 10px;
        -webkit-appearance: none;
        height            : 20px;
        cursor            : ew-resize;
        background        : darkgray;
        box-shadow        : -300px 0 0 300px red;
    }


    input[type='range']::-webkit-slider-runnable-track {
        height            : 15px;
        -webkit-appearance: none;
        color             : red;
        margin-top        : -1px;
    }
}
