
/* style.css */


/* Variables */
:root {
    --golden-ratio: 0.61803;
    --canvas-width: min( 800px, calc( 100vw - 100px - 2rem ) );
    --canvas-height: calc( var(--canvas-width) * var(--golden-ratio) );
}

/* Page Defaults */
html,
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1em;
    font-size: 20px;
}
body > * {
    margin: 0;
}

/* Canvas */
#Chart-Div {
    width: var(--canvas-width);
    height: var(--canvas-height);
}

/* Other */
.centered {
    margin-left: auto !important;
    margin-right: auto !important;
}

.flex {
    display: flex;
}

h1 {
    font-weight: 100;
    font-size: 1.5rem;
}

button {
    padding: 1em;
    font-size: inherit;
    background-color: #a9da49;
    cursor: pointer;
}
button:disabled {
    opacity: .6;
    cursor: initial;
}

#ControlsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#ControlsDiv > * {
    margin: 1em;
}
#OutputDiv {
    flex-wrap: wrap-reverse;
}


.stats {
    width: 100px;
}

#SliderDiv {
    color: #5c7e17;
    text-align: left;
    min-width: 30%;
}
#SliderDiv div {
    display: flex;
    align-items: center;
}
#SliderDiv div > * {
    margin: 0 .1em;
}
